<% layout('layout/boilerplate') -%>


    <div class="d-flex align-items-center rtl" style="width: 90%; margin-right: 4rem;">
        <form>
            <div class="d-flex flex-wrap">
                <%- include(`./partial/${mood}Options`) %>
            </div>
            
            <div>
                <button type="submit" class="btn btn-primary btn-lg mx-2 px-5" style="float: left;" >التالي..</button>    
                <a class="btn btn-outline-dark btn-lg mx-2" href="/" role="button" style="float: left;">الغاء</a>   
            </div>
            
        </form>
    </div>