/* @import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap'); */

@font-face {
  font-family: "Amiri";
  src: url("/fonts/Amiri/Amiri-Bold.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: 'Amiri', serif !important;
}

#home_page_title {
  margin-top: 4rem;
  font-weight: bold;
  font-size: 3rem;
}

input[type="checkbox"] {
  height:auto;
  transform: scale(4);
}

.form-check {
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: 25rem;
}

.form-check label {
  font-size: 2rem;
}

.form-check input.form-check-input {
  margin-right: -2rem;
}

.tab {
  display: none;
}


.stage {
  border-bottom: 3px solid #444;
  display: flex;
  height: 330px;
  width: 100%;
}
.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: 1;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}
.bounce-5 {
  animation-name: bounce-5;
  animation-timing-function: ease;


  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
  transform-origin: center center;
}
@keyframes bounce-5 {
  0%   { transform: scale(1,1)    translateY(0)  rotate(180deg); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-150px); }
  50%  { transform: scale(1,1)    translateY(0); }
  57%  { transform: scale(1,1)    translateY(-7px); }
  64%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0);}
}