@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

body {
  font-family: 'Amiri', serif !important;
}

input[type="checkbox"] {
  height:auto;
  transform: scale(4);
}

.form-check {
  margin-bottom: 3rem;
  margin-left: 1rem;
  width: 20rem;
}

.form-check label {
  font-size: x-large;
}

.form-check input.form-check-input {
  margin-right: -2rem;
}

.tab {
  display: none;
}


.stage {
  border-bottom: 3px solid #444;
  display: flex;
  height: 330px;
  width: 100%;
}
.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: 1;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}
.bounce-5 {
  animation-name: bounce-5;
  animation-timing-function: ease;
}
@keyframes bounce-5 {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-100px); }
  50%  { transform: scale(1,1)    translateY(0); }
  57%  { transform: scale(1,1)    translateY(-7px); }
  64%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}