body {
    
}

input[type="checkbox"] {
  height:auto;
  transform: scale(4);
}

.form-check {
  margin-bottom: 3rem;
  margin-left: 1rem;
  width: 20rem;
}

.form-check label {
  font-size: x-large;
}

.form-check input.form-check-input {
  margin-right: -2rem;
}

.tab {
  display: none;
}