<div class="" style="">
    <img src="/imgs/bottombanner.png" class="img-fluid" style="width:100%;" alt="Responsive image">
</div>


<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/sw.js')
            .then(function () { console.log("Service Worker Registered"); }, function () {console.log('Service worker registration failed')});
    }

    const theLang = Cookies.get('language');
    if (theLang == 'en') {
        document.getElementById("english-lang-btn").style.visibility = 'hidden';
    }
    else if(theLang == 'ar'){
        document.getElementById("arabic-lang-btn").style.visibility = 'hidden';
    }

</script>