<div class="" style="">
    <img src="/imgs/bottombanner.png" class="img-fluid" style="width:100%;" alt="Responsive image">
    <div style="position: absolute; bottom: 1px; left: 16px; color: white">Made by T.Systems: 059-5907321</div>
    <div style="position: absolute; bottom: 1px; right: 16px; color: white">VER 3.0</div>
</div>


<script>
    const theLang = Cookies.get('language');
    if (theLang == 'en') {
        document.getElementById("english-lang-btn").style.visibility = 'hidden';
    }
    else {
        document.getElementById("arabic-lang-btn").style.visibility = 'hidden';
    }

</script>