<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
        أجواء المتجر
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
    <label class="form-check-label" for="defaultCheck2">
        خيارات قائمة الطعام
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
    <label class="form-check-label" for="defaultCheck3">
        موظفين ودودين
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
    <label class="form-check-label" for="defaultCheck4">
        أسعار معقولة
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
    <label class="form-check-label" for="defaultCheck5">
        سهولة التسوق
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
    <label class="form-check-label" for="defaultCheck6">
        كفائة الموظفين
    </label>
</div>


<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
    <label class="form-check-label" for="defaultCheck7">
        الاماكن الخضراء
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
    <label class="form-check-label" for="defaultCheck8">
        نظافة المرافق
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
    <label class="form-check-label" for="defaultCheck9">
        وجود اماكن لغير المدخنين
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
    <label class="form-check-label" for="defaultCheck10">
        الاجواء العائلية
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
    <label class="form-check-label" for="defaultCheck11">
        وجود اماكن مظللة
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
    <label class="form-check-label" for="defaultCheck12">
        وجود مرافق للسلامة والاسعاف الاولي
    </label>
</div>