<div class="d-flex justify-content-between align-items-center mb-5" style="height: 20%;">
    <img src="/imgs/logo2.png" class="img-fluid ml-3" style="width:150px;" alt="Responsive image">
    <h2 style="">كيف ترى خدماتنا؟</h2>
    <div class="mr-3">
        <input style="width: 70%; float: right;" id="device_location" class="form-control" type="text" value="<%= location %>" readonly>
    </div>
</div>