<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
        أجواء المتجر
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
    <label class="form-check-label" for="defaultCheck2">
        خيارات قائمة الطعام
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
    <label class="form-check-label" for="defaultCheck3">
        موظفين غير ودودين
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
    <label class="form-check-label" for="defaultCheck4">
        أسعار غير معقولة
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
    <label class="form-check-label" for="defaultCheck5">
        صعوبة التسوق
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
    <label class="form-check-label" for="defaultCheck6">
        عدم كفائة الموظفين
    </label>
</div>


<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
    <label class="form-check-label" for="defaultCheck7">
        عدم وجود اماكن خضراء
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
    <label class="form-check-label" for="defaultCheck8">
        عدم نظافة المرافق
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
    <label class="form-check-label" for="defaultCheck9">
        عدم وجود اماكن لغير المدخنين
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
    <label class="form-check-label" for="defaultCheck10">
        الاجواء غير عائلية
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
    <label class="form-check-label" for="defaultCheck11">
        عدم وجود اماكن مظللة
    </label>
</div>

<div class="form-check d-flex align-items-center">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
    <label class="form-check-label" for="defaultCheck12">
        عدم وجود مرافق للسلامة والاسعاف الاولي
    </label>
</div>